/* start golbal rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  color: #333;
  overflow-x: hidden; /* Prevent horizontal scroll */
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #444;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 5px;
}

.account-data {
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

p {
  font-size: 1rem;
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

button:hover {
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scale(1.1);
}

.return-home {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #4caf50;
}

.return-home:hover {
  text-decoration: underline;
}

/* Footer Section */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: 50px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
  font-size: 1em;
}


/* samll */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
